@using WelliDO.APIResponses
@model FoodModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Nearby Options";
    var radiusAsString = FoodModel.RadiusToMileParser(PickerModel.Radius).ToString();
    List<PlaceResult> places = Model.Places;
    int p = 1;

}



@*<h1 class="text-center">This is where Food will go</h1>*@
@if (places.Count() > 0)
{
    <h2 class="text-center">Here is a list of places within @radiusAsString miles of you</h2>



    <div class="container">
        <div class="row row-cols-2">

            @foreach (var place in places)
            {
                p++;
                @if (place != null)
                {
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <!--Accordion wrapper-->
                            <div class="card-header text-center">
                                @place.name:
                            </div>
                            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                <!-- Accordion card -->
                                <div class="card">
                                    @* <div cardcheckbox id="checkboxdiv">
                        <input type="checkbox" class="cardcheckbox" id="checkid" align="right" onclick="toggleBoxVisibility()" />
                        </div>*@
                                    <div>
                                        <div class="row">
                                            <div id="@($"carouselControls{p}")" class="carousel slide" data-interval="false">

                                                <div class="carousel-inner">
                                                    @if (place.photos != null)
                                                    {
                                                        <div class="carousel-item active">
                                                            <a href="#"><img class="img-fluid" src="@FoodModel.GetPhotoURL(place.photos[0].photo_reference)" /></a>
                                                        </div>
                                                        @for (int i = 1; i < place.photos.Length; i++)
                                                        {
                                                            <div class="carousel-item">
                                                                <a href="#"><img class="img-fluid" src="@FoodModel.GetPhotoURL(place.photos[i].photo_reference)" /></a>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item active">
                                                            <a href="#"><img class="img-fluid" src="~/css/images/No_image_available.png" /></a>
                                                        </div>
                                                    }
                                                </div>
                                                <a class="carousel-control-prev" href="#@($"carouselControls{p}")" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#@($"carouselControls{p}")" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>




                                        </div>
                                    </div>
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="@($"headingOne{p}")">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEx" href="#@($"collapseOne{p}")" aria-expanded="true" aria-controls="collapseOne1">
                                                        <img style="width:25px;" src="~/css/images/address-icon.png">
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEx" href="#@($"collapseTwo{p}")" aria-expanded="true" aria-controls="collapseOne1">
                                                        <img style="width:25px;" src="~/css/images/google-maps.png">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- Card body -->
                                    <div id="@($"collapseOne{p}")" class="collapse" role="tabpanel" aria-labelledby="@($"headingOne{p}")" data-parent="#accordionEx">
                                        <div class="card-body">
                                            @(place.formatted_address)
                                        </div>
                                    </div>
                                    <div id="@($"collapseTwo{p}")" class="collapse" role="tabpanel" aria-labelledby="@($"headingOne{p}")" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <a href="@place.url">Get Directions!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                }

            }
        </div>
    </div>
}

@if (places.Count() == 0)
{
    <br />
    <br />
    <div class="d-flex justify-content-center align-items-center h-100">
        <h2 class="text-center mb-3">Sorry! That Search didn't return any options for food.</h2>
    </div>
}

@*foreach (var place in PickerModel.Results);
    {
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@place." alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    }*@

